In [3]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

insert_ops = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(insert_ops)
print("Data:")
for course in courses_collection.find():
    print(course)
print("\n")

update_ops = [
    UpdateOne({'course': 'CS 102'}, {'$set': {'enrollments': 28}})  
]
courses_collection.bulk_write(update_ops)
print("Data setelah update:")
for course in courses_collection.find():
    print(course)
print("\n")

delete_ops = [
    DeleteOne({'course': 'History 201'})  
]
courses_collection.bulk_write(delete_ops)
print("Data setelah delete:")
for course in courses_collection.find():
    print(course)

Data:
{'_id': ObjectId('690c21cb62150c61bfb5c580'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c21cb62150c61bfb5c581'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('690c21cb62150c61bfb5c582'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('690c21cb62150c61bfb5c583'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}


Data setelah update:
{'_id': ObjectId('690c21cb62150c61bfb5c580'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c21cb62150c61bfb5c581'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690c21cb62150c61bfb5c582'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('690c21cb62150c61bfb5c583'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}


Data setelah delete:
{'_id': ObjectId('690c21cb62150c61bfb5c580'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690c21cb62150c61bfb5c581'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690c21cb62150c61bfb5c583'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

In [4]:
# Bersihkan koleksi sebelumnya agar tidak duplikat
courses_collection.delete_many({})

# Menambahkan data courses dengan daftar mahasiswa (enrollments)
courses_data = [
    {
        'course': 'Math 101',
        'department': 'Mathematics',
        'students': [
            {'name': 'Dokja', 'grade': 85},
            {'name': 'Cale', 'grade': 90},
            {'name': 'Jiwoo', 'grade': 88}
        ]
    },
    {
        'course': 'CS 102',
        'department': 'Computer Science',
        'students': [
            {'name': 'Yoru', 'grade': 92},
            {'name': 'Eve', 'grade': 87}
        ]
    },
    {
        'course': 'History 201',
        'department': 'History',
        'students': [
            {'name': 'Frank', 'grade': 75},
            {'name': 'Charlie', 'grade': 80}
        ]
    },
    {
        'course': 'Physics 202',
        'department': 'Physics',
        'students': [
            {'name': 'Marimo', 'grade': 89},
            {'name': 'Sanji', 'grade': 93},
            {'name': 'Luffy', 'grade': 85}
        ]
    }
]

courses_collection.insert_many(courses_data)
print("Data courses berhasil ditambahkan.\n")

print("Data courses:")
for course in courses_collection.find():
    print(course)

Data courses berhasil ditambahkan.

Data courses:
{'_id': ObjectId('690c22ba62150c61bfb5c584'), 'course': 'Math 101', 'department': 'Mathematics', 'students': [{'name': 'Dokja', 'grade': 85}, {'name': 'Cale', 'grade': 90}, {'name': 'Jiwoo', 'grade': 88}]}
{'_id': ObjectId('690c22ba62150c61bfb5c585'), 'course': 'CS 102', 'department': 'Computer Science', 'students': [{'name': 'Yoru', 'grade': 92}, {'name': 'Eve', 'grade': 87}]}
{'_id': ObjectId('690c22ba62150c61bfb5c586'), 'course': 'History 201', 'department': 'History', 'students': [{'name': 'Frank', 'grade': 75}, {'name': 'Charlie', 'grade': 80}]}
{'_id': ObjectId('690c22ba62150c61bfb5c587'), 'course': 'Physics 202', 'department': 'Physics', 'students': [{'name': 'Marimo', 'grade': 89}, {'name': 'Sanji', 'grade': 93}, {'name': 'Luffy', 'grade': 85}]}

In [10]:
found = False  

for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)
    found = True  

if not found:
    print("Tidak ada course dengan jumlah enrollments lebih dari 20.")

Tidak ada course dengan jumlah enrollments lebih dari 20.

In [7]:
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('690c22ba62150c61bfb5c584'), 'course': 'Math 101', 'department': 'Mathematics', 'students': [{'name': 'Dokja', 'grade': 85}, {'name': 'Cale', 'grade': 90}, {'name': 'Jiwoo', 'grade': 88}]}
{'_id': ObjectId('690c22ba62150c61bfb5c585'), 'course': 'CS 102', 'department': 'Computer Science', 'students': [{'name': 'Yoru', 'grade': 92}, {'name': 'Eve', 'grade': 87}]}

In [11]:
# Bagian 3
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': None}
{'_id': 'Mathematics', 'average_enrollment': None}
{'_id': 'Physics', 'average_enrollment': None}
{'_id': 'History', 'average_enrollment': None}

In [12]:
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'max_enrollment': None}
{'_id': 'Mathematics', 'max_enrollment': None}
{'_id': 'Physics', 'max_enrollment': None}
{'_id': 'History', 'max_enrollment': None}

In [13]:
# Bagian 4
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690c22ba62150c61bfb5c584'), 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('690c22ba62150c61bfb5c585'), 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('690c22ba62150c61bfb5c586'), 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('690c22ba62150c61bfb5c587'), 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [14]:
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690c22ba62150c61bfb5c584'), 'course': 'Math 101', 'department': 'Mathematics', 'students': [{'name': 'Dokja', 'grade': 85}, {'name': 'Cale', 'grade': 90}, {'name': 'Jiwoo', 'grade': 88}], 'enrollment_category': 'low'}
{'_id': ObjectId('690c22ba62150c61bfb5c585'), 'course': 'CS 102', 'department': 'Computer Science', 'students': [{'name': 'Yoru', 'grade': 92}, {'name': 'Eve', 'grade': 87}], 'enrollment_category': 'low'}
{'_id': ObjectId('690c22ba62150c61bfb5c586'), 'course': 'History 201', 'department': 'History', 'students': [{'name': 'Frank', 'grade': 75}, {'name': 'Charlie', 'grade': 80}], 'enrollment_category': 'low'}
{'_id': ObjectId('690c22ba62150c61bfb5c587'), 'course': 'Physics 202', 'department': 'Physics', 'students': [{'name': 'Marimo', 'grade': 89}, {'name': 'Sanji', 'grade': 93}, {'name': 'Luffy', 'grade': 85}], 'enrollment_category': 'low'}

In [16]:
db = client['college_db']
courses_collection = db['courses']
students_collection = db['students']

# Tambah data courses baru
courses_data = [
    {'course': 'Introduction to Programming', 'department': 'Computer Science', 'enrollments': 32},
    {'course': 'Database Systems', 'department': 'Computer Science', 'enrollments': 27},
    {'course': 'Calculus I', 'department': 'Mathematics', 'enrollments': 25},
    {'course': 'Linear Algebra', 'department': 'Mathematics', 'enrollments': 22},
    {'course': 'Microeconomics', 'department': 'Economics', 'enrollments': 20},
    {'course': 'Macroeconomics', 'department': 'Economics', 'enrollments': 18},
    {'course': 'Physics I', 'department': 'Physics', 'enrollments': 28},
    {'course': 'Organic Chemistry', 'department': 'Chemistry', 'enrollments': 16},
    {'course': 'English Literature', 'department': 'Humanities', 'enrollments': 24}
]
courses_collection.insert_many(courses_data)

# Tambah data students
students_data = [
    {'student_id': 1, 'name': 'Alice Johnson', 'course': 'Introduction to Programming'},
    {'student_id': 2, 'name': 'Brian Lee', 'course': 'Database Systems'},
    {'student_id': 3, 'name': 'Catherine Smith', 'course': 'Calculus I'},
    {'student_id': 4, 'name': 'Daniel Brown', 'course': 'Linear Algebra'},
    {'student_id': 5, 'name': 'Emily Davis', 'course': 'Physics I'},
    {'student_id': 6, 'name': 'Frank Wilson', 'course': 'Organic Chemistry'},
    {'student_id': 7, 'name': 'Grace Taylor', 'course': 'English Literature'},
    {'student_id': 8, 'name': 'Henry Clark', 'course': 'Microeconomics'},
    {'student_id': 9, 'name': 'Ivy Martinez', 'course': 'Macroeconomics'}
]
students_collection.insert_many(students_data)

print("Data baru berhasil dibuat di database 'college_db'.")

Data baru berhasil dibuat di database 'college_db'.

In [17]:
pipeline = [
    {'$group': {'_id': '$department', 'total_courses': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'total_courses': 2}
{'_id': 'Physics', 'total_courses': 1}
{'_id': 'Chemistry', 'total_courses': 1}
{'_id': 'Humanities', 'total_courses': 1}
{'_id': 'Mathematics', 'total_courses': 2}
{'_id': 'Economics', 'total_courses': 2}

In [18]:
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$department', 'high_enrollment_courses': {'$push': '$course'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'high_enrollment_courses': ['Introduction to Programming', 'Database Systems']}

In [23]:
pipeline = [
    {
        '$lookup': {
            'from': 'students',         
            'localField': 'course',      
            'foreignField': 'course',    
            'as': 'enrolled_students'   
        }
    }
]

for result in courses_collection.aggregate(pipeline):
    print(f"\nCourse: {result['course']}")
    print(f"Department: {result['department']}")
    print(f"Enrollments: {result['enrollments']}")
    
    if result['enrolled_students']:
        print("Students Enrolled:")
        for student in result['enrolled_students']:
            print(f" - {student['name']}")
    else:
        print("Students Enrolled: None")

Course: Introduction to Programming
Department: Computer Science
Enrollments: 32
Students Enrolled:
 - Alice Johnson

Course: Database Systems
Department: Computer Science
Enrollments: 27
Students Enrolled:
 - Brian Lee

Course: Calculus I
Department: Mathematics
Enrollments: 25
Students Enrolled:
 - Catherine Smith

Course: Linear Algebra
Department: Mathematics
Enrollments: 22
Students Enrolled:
 - Daniel Brown

Course: Microeconomics
Department: Economics
Enrollments: 20
Students Enrolled:
 - Henry Clark

Course: Macroeconomics
Department: Economics
Enrollments: 18
Students Enrolled:
 - Ivy Martinez

Course: Physics I
Department: Physics
Enrollments: 28
Students Enrolled:
 - Emily Davis

Course: Organic Chemistry
Department: Chemistry
Enrollments: 16
Students Enrolled:
 - Frank Wilson

Course: English Literature
Department: Humanities
Enrollments: 24
Students Enrolled:
 - Grace Taylor