In [15]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

client = MongoClient('mongodb://localhost:27017/')
db = client['university_db']
courses_collection = db['courses']

insert_ops = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(insert_ops)
print("Data:")
for course in courses_collection.find():
    print(course)
print("\n")

update_ops = [
    UpdateOne({'course': 'CS 102'}, {'$set': {'enrollments': 28}})  
]
courses_collection.bulk_write(update_ops)
print("Data setelah update:")
for course in courses_collection.find():
    print(course)
print("\n")

delete_ops = [
    DeleteOne({'course': 'History 201'})  
]
courses_collection.bulk_write(delete_ops)
print("Data setelah delete:")
for course in courses_collection.find():
    print(course)

Data:
{'_id': ObjectId('690e4b9b4a06e9d4673ead85'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead86'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead87'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead88'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}


Data setelah update:
{'_id': ObjectId('690e4b9b4a06e9d4673ead85'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead86'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead87'), 'course': 'History 201', 'enrollments': 20, 'department': 'History'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead88'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}


Data setelah delete:
{'_id': ObjectId('690e4b9b4a06e9d4673ead85'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead86'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead88'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'}

In [8]:
courses_data = [
    {
        'course': 'Math 101',
        'department': 'Mathematics',
        'students': [
            {'name': 'Dokja', 'grade': 85},
            {'name': 'Cale', 'grade': 90},
            {'name': 'Jiwoo', 'grade': 88}
        ]
    },
    {
        'course': 'CS 102',
        'department': 'Computer Science',
        'students': [
            {'name': 'Yoru', 'grade': 92},
            {'name': 'Eve', 'grade': 87}
        ]
    },
    {
        'course': 'History 201',
        'department': 'History',
        'students': [
            {'name': 'Frank', 'grade': 75},
            {'name': 'Charlie', 'grade': 80}
        ]
    },
    {
        'course': 'Physics 202',
        'department': 'Physics',
        'students': [
            {'name': 'Marimo', 'grade': 89},
            {'name': 'Sanji', 'grade': 93},
            {'name': 'Luffy', 'grade': 85}
        ]
    }
]

courses_collection.insert_many(courses_data)
print("Data courses berhasil ditambahkan.\n")

print("Data courses:")
for course in courses_collection.find():
    print(course)

Data courses berhasil ditambahkan.

Data courses:
{'_id': ObjectId('690e4adb4a06e9d4673ead80'), 'course': 'Math 101', 'department': 'Mathematics', 'students': [{'name': 'Dokja', 'grade': 85}, {'name': 'Cale', 'grade': 90}, {'name': 'Jiwoo', 'grade': 88}]}
{'_id': ObjectId('690e4adb4a06e9d4673ead81'), 'course': 'CS 102', 'department': 'Computer Science', 'students': [{'name': 'Yoru', 'grade': 92}, {'name': 'Eve', 'grade': 87}]}
{'_id': ObjectId('690e4adb4a06e9d4673ead82'), 'course': 'History 201', 'department': 'History', 'students': [{'name': 'Frank', 'grade': 75}, {'name': 'Charlie', 'grade': 80}]}
{'_id': ObjectId('690e4adb4a06e9d4673ead83'), 'course': 'Physics 202', 'department': 'Physics', 'students': [{'name': 'Marimo', 'grade': 89}, {'name': 'Sanji', 'grade': 93}, {'name': 'Luffy', 'grade': 85}]}

In [9]:
found = False  

for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)
    found = True  

if not found:
    print("Tidak ada course dengan jumlah enrollments lebih dari 20.")

Tidak ada course dengan jumlah enrollments lebih dari 20.

In [10]:
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('690e4adb4a06e9d4673ead80'), 'course': 'Math 101', 'department': 'Mathematics', 'students': [{'name': 'Dokja', 'grade': 85}, {'name': 'Cale', 'grade': 90}, {'name': 'Jiwoo', 'grade': 88}]}
{'_id': ObjectId('690e4adb4a06e9d4673ead81'), 'course': 'CS 102', 'department': 'Computer Science', 'students': [{'name': 'Yoru', 'grade': 92}, {'name': 'Eve', 'grade': 87}]}

In [17]:
# Bagian 3
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'average_enrollment': 28.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [18]:
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'max_enrollment': 28}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'Physics', 'max_enrollment': 15}

In [19]:
# Bagian 4
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690e4b9b4a06e9d4673ead85'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead86'), 'enrollments': 28, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead88'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [20]:
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('690e4b9b4a06e9d4673ead85'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead86'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('690e4b9b4a06e9d4673ead88'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

In [23]:
db = client['college_db']
courses_collection = db['courses']
students_collection = db['students']

# Tambah data courses baru
courses_data = [
    {'course': 'Introduction to Programming', 'department': 'Computer Science', 'enrollments': 32},
    {'course': 'Database Systems', 'department': 'Computer Science', 'enrollments': 27},
    {'course': 'Calculus I', 'department': 'Mathematics', 'enrollments': 25},
    {'course': 'Linear Algebra', 'department': 'Mathematics', 'enrollments': 22},
    {'course': 'Microeconomics', 'department': 'Economics', 'enrollments': 20},
    {'course': 'Macroeconomics', 'department': 'Economics', 'enrollments': 18},
    {'course': 'Physics I', 'department': 'Physics', 'enrollments': 28},
    {'course': 'Organic Chemistry', 'department': 'Chemistry', 'enrollments': 16},
    {'course': 'English Literature', 'department': 'Humanities', 'enrollments': 24}
]
courses_collection.insert_many(courses_data)

# Tambah data students
students_data = [
    {'student_id': 1, 'name': 'Alice Johnson', 'course': 'Introduction to Programming'},
    {'student_id': 2, 'name': 'Brian Lee', 'course': 'Database Systems'},
    {'student_id': 3, 'name': 'Catherine Smith', 'course': 'Calculus I'},
    {'student_id': 4, 'name': 'Daniel Brown', 'course': 'Linear Algebra'},
    {'student_id': 5, 'name': 'Emily Davis', 'course': 'Physics I'},
    {'student_id': 6, 'name': 'Frank Wilson', 'course': 'Organic Chemistry'},
    {'student_id': 7, 'name': 'Grace Taylor', 'course': 'English Literature'},
    {'student_id': 8, 'name': 'Henry Clark', 'course': 'Microeconomics'},
    {'student_id': 9, 'name': 'Ivy Martinez', 'course': 'Macroeconomics'}
]
students_collection.insert_many(students_data)

print("Data baru berhasil dibuat di database 'college_db'.")

print("\nData Courses")
for course in courses_collection.find():
    print(course)

print("\nData Students")
for student in students_collection.find():
    print(student)

Data baru berhasil dibuat di database 'college_db'.

Data Courses
{'_id': ObjectId('690e5bdc4a06e9d4673ead9b'), 'course': 'Introduction to Programming', 'department': 'Computer Science', 'enrollments': 32}
{'_id': ObjectId('690e5bdc4a06e9d4673ead9c'), 'course': 'Database Systems', 'department': 'Computer Science', 'enrollments': 27}
{'_id': ObjectId('690e5bdc4a06e9d4673ead9d'), 'course': 'Calculus I', 'department': 'Mathematics', 'enrollments': 25}
{'_id': ObjectId('690e5bdc4a06e9d4673ead9e'), 'course': 'Linear Algebra', 'department': 'Mathematics', 'enrollments': 22}
{'_id': ObjectId('690e5bdc4a06e9d4673ead9f'), 'course': 'Microeconomics', 'department': 'Economics', 'enrollments': 20}
{'_id': ObjectId('690e5bdc4a06e9d4673eada0'), 'course': 'Macroeconomics', 'department': 'Economics', 'enrollments': 18}
{'_id': ObjectId('690e5bdc4a06e9d4673eada1'), 'course': 'Physics I', 'department': 'Physics', 'enrollments': 28}
{'_id': ObjectId('690e5bdc4a06e9d4673eada2'), 'course': 'Organic Chemistry', 'department': 'Chemistry', 'enrollments': 16}
{'_id': ObjectId('690e5bdc4a06e9d4673eada3'), 'course': 'English Literature', 'department': 'Humanities', 'enrollments': 24}

Data Students
{'_id': ObjectId('690e5bdc4a06e9d4673eada4'), 'student_id': 1, 'name': 'Alice Johnson', 'course': 'Introduction to Programming'}
{'_id': ObjectId('690e5bdc4a06e9d4673eada5'), 'student_id': 2, 'name': 'Brian Lee', 'course': 'Database Systems'}
{'_id': ObjectId('690e5bdc4a06e9d4673eada6'), 'student_id': 3, 'name': 'Catherine Smith', 'course': 'Calculus I'}
{'_id': ObjectId('690e5bdc4a06e9d4673eada7'), 'student_id': 4, 'name': 'Daniel Brown', 'course': 'Linear Algebra'}
{'_id': ObjectId('690e5bdc4a06e9d4673eada8'), 'student_id': 5, 'name': 'Emily Davis', 'course': 'Physics I'}
{'_id': ObjectId('690e5bdc4a06e9d4673eada9'), 'student_id': 6, 'name': 'Frank Wilson', 'course': 'Organic Chemistry'}
{'_id': ObjectId('690e5bdc4a06e9d4673eadaa'), 'student_id': 7, 'name': 'Grace Taylor', 'course': 'English Literature'}
{'_id': ObjectId('690e5bdc4a06e9d4673eadab'), 'student_id': 8, 'name': 'Henry Clark', 'course': 'Microeconomics'}
{'_id': ObjectId('690e5bdc4a06e9d4673eadac'), 'student_id': 9, 'name': 'Ivy Martinez', 'course': 'Macroeconomics'}

In [24]:
pipeline = [
    {'$group': {'_id': '$department', 'total_courses': {'$sum': 1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Mathematics', 'total_courses': 2}
{'_id': 'Computer Science', 'total_courses': 2}
{'_id': 'Physics', 'total_courses': 1}
{'_id': 'Chemistry', 'total_courses': 1}
{'_id': 'Humanities', 'total_courses': 1}
{'_id': 'Economics', 'total_courses': 2}

In [25]:
pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$department', 'high_enrollment_courses': {'$push': '$course'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'high_enrollment_courses': ['Introduction to Programming', 'Database Systems']}

In [27]:
pipeline = [
    {'$lookup': {'from': 'students', 'localField': 'course', 'foreignField': 'course', 'as': 'enrolled_students'}},
    {'$project': {'_id': 0, 'course': 1, 'department': 1, 'enrollments': 1, 'enrolled_students_names': '$enrolled_students.name'}}
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'course': 'Introduction to Programming', 'department': 'Computer Science', 'enrollments': 32, 'enrolled_students_names': ['Alice Johnson']}
{'course': 'Database Systems', 'department': 'Computer Science', 'enrollments': 27, 'enrolled_students_names': ['Brian Lee']}
{'course': 'Calculus I', 'department': 'Mathematics', 'enrollments': 25, 'enrolled_students_names': ['Catherine Smith']}
{'course': 'Linear Algebra', 'department': 'Mathematics', 'enrollments': 22, 'enrolled_students_names': ['Daniel Brown']}
{'course': 'Microeconomics', 'department': 'Economics', 'enrollments': 20, 'enrolled_students_names': ['Henry Clark']}
{'course': 'Macroeconomics', 'department': 'Economics', 'enrollments': 18, 'enrolled_students_names': ['Ivy Martinez']}
{'course': 'Physics I', 'department': 'Physics', 'enrollments': 28, 'enrolled_students_names': ['Emily Davis']}
{'course': 'Organic Chemistry', 'department': 'Chemistry', 'enrollments': 16, 'enrolled_students_names': ['Frank Wilson']}
{'course': 'English Literature', 'department': 'Humanities', 'enrollments': 24, 'enrolled_students_names': ['Grace Taylor']}