In [12]:
# Exercise 1: Identifying and Handling Missing Data
import pandas as pd

# Sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', None],
    'Age': [24, 30, None, 22, 35],
    'Salary': [48000, None, 57000, None, 60000]
}
df = pd.DataFrame(data)

print("Data Sebelum Cleaning:\n", df)

df_age_cleaned['Age'].fillna(df_age_cleaned['Age'].mean(), inplace=True)
print("Setelah Mengisi Missing Value pada 'Age': \n", df_age_cleaned)

df_salary_cleaned['Salary'].fillna(df_salary_cleaned['Salary'].median(), inplace=True)
print("Setelah Mengisi Missing Value pada 'Salary':\n", df_salary_cleaned)

df_final.dropna(subset=['Name'], inplace=True)
print("Data Setelah Cleaning:\n", df_final)

Data Sebelum Cleaning:
       Name   Age   Salary
0    Alice  24.0  48000.0
1      Bob  30.0      NaN
2  Charlie   NaN  57000.0
3    David  22.0      NaN
4     None  35.0  60000.0
Setelah Mengisi Missing Value pada 'Age':
       Name    Age   Salary
0    Alice  24.00  48000.0
1      Bob  30.00      NaN
2  Charlie  27.75  57000.0
3    David  22.00      NaN
4     None  35.00  60000.0
Setelah Mengisi Missing Value pada 'Salary':
       Name    Age   Salary
0    Alice  24.00  48000.0
1      Bob  30.00  57000.0
2  Charlie  27.75  57000.0
3    David  22.00  57000.0
4     None  35.00  60000.0
Data Setelah Cleaning:
       Name    Age   Salary     Category
0    Alice  24.00  48000.0  Electronics
1      Bob  30.00  57000.0  Electronics
2  Charlie  27.75  57000.0  Electronics
3    David  22.00  57000.0      Gadgets

/tmp/ipykernel_8584/2243906415.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_age_cleaned['Age'].fillna(df_age_cleaned['Age'].mean(), inplace=True)
/tmp/ipykernel_8584/2243906415.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_salary_cleaned['Salary'].fillna(df_salary_cleaned['Salary'].median(), inplace=True)

In [13]:
# Exercise 2: Standardizing Categorical Data
# Sample dataset with inconsistent categorical values
data = {
    'Product': ['Laptop', 'Laptop', 'Desktop', 'Tablet', 'Tablet'],
    'Category': ['Electronics', 'electronics', 'Electronics', 'Gadgets', 'gadgets']
}
df = pd.DataFrame(data)
print('Before Standarized:\n', df)

# Standardize category values
df['Category'] = df['Category'].str.capitalize()
print('Standardized Data:\n', df)

Before Standarized:
    Product     Category
0   Laptop  Electronics
1   Laptop  electronics
2  Desktop  Electronics
3   Tablet      Gadgets
4   Tablet      gadgets
Standardized Data:
    Product     Category
0   Laptop  Electronics
1   Laptop  Electronics
2  Desktop  Electronics
3   Tablet      Gadgets
4   Tablet      Gadgets

In [ ]:
#Practice Tasks

In [34]:
import pandas as pd

df = pd.read_csv("/home/rahma/Documents/Titanic-Dataset.csv")
print("Dataset Awal:")
print(df.head())

print("\nMissing Value PerKolom:")
print(df.isnull().sum())

Dataset Awal:
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

Missing Value PerKolom:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [35]:
from sklearn.preprocessing import MinMaxScaler

num_cols = df.select_dtypes(include=['number']).columns
df[num_cols] = df[num_cols].fillna(df[num_cols].median())
print("\nCek Missing Setelah Diisi Median:")
print(df[num_cols].isnull().sum())

scaler = MinMaxScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])
print("\nData Numerik Setelah Normalisasi:")
print(df[num_cols].head())

Cek Missing Setelah Diisi Median:
PassengerId    0
Survived       0
Pclass         0
Age            0
SibSp          0
Parch          0
Fare           0
dtype: int64

Data Numerik Setelah Normalisasi:
   PassengerId  Survived  Pclass       Age  SibSp  Parch      Fare
0     0.000000       0.0     1.0  0.271174  0.125    0.0  0.014151
1     0.001124       1.0     0.0  0.472229  0.125    0.0  0.139136
2     0.002247       1.0     1.0  0.321438  0.000    0.0  0.015469
3     0.003371       1.0     0.0  0.434531  0.125    0.0  0.103644
4     0.004494       0.0     1.0  0.434531  0.000    0.0  0.015713

In [36]:
from sklearn.preprocessing import LabelEncoder

cat_cols = df.select_dtypes(include=['object']).columns
df[cat_cols] = df[cat_cols].fillna("Unknown")
print("Cek Missing Setelah Diisi pada Kolom Kategorikal:")
print(df[cat_cols].isnull().sum())

encoder = LabelEncoder()
for col in cat_cols:
    df[col] = encoder.fit_transform(df[col])
print("\nData Kategorikal Setelah Encoding:")
print(df[cat_cols].head())

Cek Missing Setelah Diisi pada Kolom Kategorikal:
Name        0
Sex         0
Ticket      0
Cabin       0
Embarked    0
dtype: int64

Data Kategorikal Setelah Encoding:
   Name  Sex  Ticket  Cabin  Embarked
0   108    1     523    147         2
1   190    0     596     81         0
2   353    0     669    147         2
3   272    0      49     55         2
4    15    1     472    147         2

In [39]:
before = len(df)
df_cleaned = df.drop_duplicates()
after = len(df_cleaned)

print("Jumlah Data Sebelum:", before)
print("Jumlah Data Sesudah :", after)
print("Jumlah Duplikat Dihapus:", before - after)

Jumlah Data Sebelum: 891
Jumlah Data Sesudah : 891
Jumlah Duplikat Dihapus: 0