In [1]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb://localhost:27017/')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [3]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

Data inserted

In [4]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('690895e0ddc85700c84fd01c'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}

In [5]:
# Tugas 2
# Menambahkan data (insert)
employee_data = [
    {'name': 'Kim Dokja', 'department': 'Business Analysis', 'age': 28, 'salary': 6000},
    {'name': 'Yoo Joonghyuk', 'department': 'Software Engineering', 'age': 32, 'salary': 7500},
    {'name': 'Han Sooyoung', 'department': 'Finance', 'age': 27, 'salary': 5800},
    {'name': 'Lee Hyunsung', 'department': 'Human Resources', 'age': 30, 'salary': 6200},
    {'name': 'Jung Heewon', 'department': 'Legal', 'age': 26, 'salary': 5700}
]

collection.insert_many(employee_data)
print("Data baru berhasil ditambahkan!")

Data baru berhasil ditambahkan!

In [6]:
# Update
collection.update_one({'name': 'Kim Dokja'}, {'$set': {'salary': 8500}})
print("Data Kim Dokja berhasil diperbarui!")

for employee in collection.find():
    print(employee)

Data Kim Dokja berhasil diperbarui!
{'_id': ObjectId('690895e0ddc85700c84fd01c'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('690895e0ddc85700c84fd01d'), 'name': 'Kim Dokja', 'department': 'Business Analysis', 'age': 28, 'salary': 8500}
{'_id': ObjectId('690895e0ddc85700c84fd01e'), 'name': 'Yoo Joonghyuk', 'department': 'Software Engineering', 'age': 32, 'salary': 7500}
{'_id': ObjectId('690895e0ddc85700c84fd01f'), 'name': 'Han Sooyoung', 'department': 'Finance', 'age': 27, 'salary': 5800}
{'_id': ObjectId('690895e0ddc85700c84fd020'), 'name': 'Lee Hyunsung', 'department': 'Human Resources', 'age': 30, 'salary': 6200}
{'_id': ObjectId('690895e0ddc85700c84fd021'), 'name': 'Jung Heewon', 'department': 'Legal', 'age': 26, 'salary': 5700}

In [7]:
#Delete
collection.delete_one({'name': 'Han Sooyoung'})

for employee in collection.find():
    print(employee)

{'_id': ObjectId('690895e0ddc85700c84fd01c'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}
{'_id': ObjectId('690895e0ddc85700c84fd01d'), 'name': 'Kim Dokja', 'department': 'Business Analysis', 'age': 28, 'salary': 8500}
{'_id': ObjectId('690895e0ddc85700c84fd01e'), 'name': 'Yoo Joonghyuk', 'department': 'Software Engineering', 'age': 32, 'salary': 7500}
{'_id': ObjectId('690895e0ddc85700c84fd020'), 'name': 'Lee Hyunsung', 'department': 'Human Resources', 'age': 30, 'salary': 6200}
{'_id': ObjectId('690895e0ddc85700c84fd021'), 'name': 'Jung Heewon', 'department': 'Legal', 'age': 26, 'salary': 5700}

In [8]:
#Tugas 3
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'Finance', 'average_salary': 4500.0}
{'_id': 'Legal', 'average_salary': 5700.0}
{'_id': 'Business Analysis', 'average_salary': 8500.0}
{'_id': 'Software Engineering', 'average_salary': 7500.0}
{'_id': 'Human Resources', 'average_salary': 6200.0}

In [9]:
#Latihan 4.1

products = db['products']

# Insert data produk
product_list = [
    {'name': 'Laptop', 'category': 'Electronics', 'price': 8500000, 'stock': 10},
    {'name': 'Mouse', 'category': 'Electronics', 'price': 150000, 'stock': 40},
    {'name': 'Keyboard', 'category': 'Electronics', 'price': 250000, 'stock': 25},
    {'name': 'Desk Chair', 'category': 'Furniture', 'price': 950000, 'stock': 8},
    {'name': 'Office Table', 'category': 'Furniture', 'price': 1250000, 'stock': 5},
    {'name': 'Notebook', 'category': 'Stationery', 'price': 20000, 'stock': 100},
    {'name': 'Pen', 'category': 'Stationery', 'price': 5000, 'stock': 200},
    {'name': 'Water Bottle', 'category': 'Accessories', 'price': 60000, 'stock': 50},
    {'name': 'Headphones', 'category': 'Electronics', 'price': 350000, 'stock': 15},
    {'name': 'Backpack', 'category': 'Accessories', 'price': 180000, 'stock': 20},
    {'name': 'Omniscient Reader’s Viewpoint', 'category': 'Books', 'price': 120000, 'stock': 30},
    {'name': 'Solo Leveling', 'category': 'Books', 'price': 110000, 'stock': 25},
    {'name': 'One Piece', 'category': 'Comics', 'price': 90000, 'stock': 40},
    {'name': 'Attack on Titan', 'category': 'Comics', 'price': 95000, 'stock': 35},
    {'name': 'Jujutsu Kaisen', 'category': 'Comics', 'price': 100000, 'stock': 28}
]

products.insert_many(product_list)
print("Produk berhasil dimasukkan ke koleksi 'products'.")

Produk berhasil dimasukkan ke koleksi 'products'.

In [10]:
#Latihan 4.2
# Hitung rata-rata harga produk
pipeline_avg = [{'$group': {'_id': None, 'avg_price': {'$avg': '$price'}}}]
avg_price = list(products.aggregate(pipeline_avg))[0]['avg_price']

print(f"Rata-rata harga produk: Rp{avg_price:,.0f}\n")
print("Produk dengan harga di atas rata-rata:")

for p in products.find({'price': {'$gt': avg_price}}):
    print(p)

Rata-rata harga produk: Rp817,790

Produk dengan harga di atas rata-rata:
{'_id': ObjectId('6906d5391c44150fbfa2792e'), 'name': 'Laptop', 'category': 'Electronics', 'price': 8500000, 'stock': 10}
{'_id': ObjectId('6906d5391c44150fbfa27931'), 'name': 'Desk Chair', 'category': 'Furniture', 'price': 950000, 'stock': 8}
{'_id': ObjectId('6906d5391c44150fbfa27932'), 'name': 'Office Table', 'category': 'Furniture', 'price': 1250000, 'stock': 5}
{'_id': ObjectId('690895431e412f277b0fdd6d'), 'name': 'Laptop', 'category': 'Electronics', 'price': 8500000, 'stock': 10}
{'_id': ObjectId('690895431e412f277b0fdd70'), 'name': 'Desk Chair', 'category': 'Furniture', 'price': 950000, 'stock': 8}
{'_id': ObjectId('690895431e412f277b0fdd71'), 'name': 'Office Table', 'category': 'Furniture', 'price': 1250000, 'stock': 5}
{'_id': ObjectId('690895b3e29cb01bac8b5010'), 'name': 'Laptop', 'category': 'Electronics', 'price': 8500000, 'stock': 10}
{'_id': ObjectId('690895b3e29cb01bac8b5013'), 'name': 'Desk Chair', 'category': 'Furniture', 'price': 950000, 'stock': 8}
{'_id': ObjectId('690895b3e29cb01bac8b5014'), 'name': 'Office Table', 'category': 'Furniture', 'price': 1250000, 'stock': 5}
{'_id': ObjectId('690895e0ddc85700c84fd022'), 'name': 'Laptop', 'category': 'Electronics', 'price': 8500000, 'stock': 10}
{'_id': ObjectId('690895e0ddc85700c84fd025'), 'name': 'Desk Chair', 'category': 'Furniture', 'price': 950000, 'stock': 8}
{'_id': ObjectId('690895e0ddc85700c84fd026'), 'name': 'Office Table', 'category': 'Furniture', 'price': 1250000, 'stock': 5}

In [11]:
#Latihan 4.3
#Total Produk Perkategori
pipeline_category = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}},
    {'$sort': {'total_products': -1}}
]

print("Total produk dalam setiap kategori:")
for result in products.aggregate(pipeline_category):
    print(result)

Total produk dalam setiap kategori:
{'_id': 'Electronics', 'total_products': 16}
{'_id': 'Comics', 'total_products': 12}
{'_id': 'Furniture', 'total_products': 8}
{'_id': 'Accessories', 'total_products': 8}
{'_id': 'Books', 'total_products': 8}
{'_id': 'Stationery', 'total_products': 8}

In [12]:
#Latihan Tambahan
# Menampilkan 5 produk termahal
print("5 produk termahal:")
list(db.products.find().sort('price', -1).limit(5))

5 produk termahal:

[{'_id': ObjectId('690895b3e29cb01bac8b5010'),
  'name': 'Laptop',
  'category': 'Electronics',
  'price': 8500000,
  'stock': 10},
 {'_id': ObjectId('6906d5391c44150fbfa2792e'),
  'name': 'Laptop',
  'category': 'Electronics',
  'price': 8500000,
  'stock': 10},
 {'_id': ObjectId('690895e0ddc85700c84fd022'),
  'name': 'Laptop',
  'category': 'Electronics',
  'price': 8500000,
  'stock': 10},
 {'_id': ObjectId('690895431e412f277b0fdd6d'),
  'name': 'Laptop',
  'category': 'Electronics',
  'price': 8500000,
  'stock': 10},
 {'_id': ObjectId('690895431e412f277b0fdd71'),
  'name': 'Office Table',
  'category': 'Furniture',
  'price': 1250000,
  'stock': 5}]

In [13]:
#Cari produk yang mengandung kata "One"
print("Produk dengan kata 'One':")
list(db.products.find({'name': {'$regex': 'One', '$options': 'i'}}))

Produk dengan kata 'One':

[{'_id': ObjectId('6906d5391c44150fbfa27936'),
  'name': 'Headphones',
  'category': 'Electronics',
  'price': 350000,
  'stock': 15},
 {'_id': ObjectId('6906d5391c44150fbfa2793a'),
  'name': 'One Piece',
  'category': 'Comics',
  'price': 90000,
  'stock': 40},
 {'_id': ObjectId('690895431e412f277b0fdd75'),
  'name': 'Headphones',
  'category': 'Electronics',
  'price': 350000,
  'stock': 15},
 {'_id': ObjectId('690895431e412f277b0fdd79'),
  'name': 'One Piece',
  'category': 'Comics',
  'price': 90000,
  'stock': 40},
 {'_id': ObjectId('690895b3e29cb01bac8b5018'),
  'name': 'Headphones',
  'category': 'Electronics',
  'price': 350000,
  'stock': 15},
 {'_id': ObjectId('690895b3e29cb01bac8b501c'),
  'name': 'One Piece',
  'category': 'Comics',
  'price': 90000,
  'stock': 40},
 {'_id': ObjectId('690895e0ddc85700c84fd02a'),
  'name': 'Headphones',
  'category': 'Electronics',
  'price': 350000,
  'stock': 15},
 {'_id': ObjectId('690895e0ddc85700c84fd02e'),
  'name': 'One Piece',
  'category': 'Comics',
  'price': 90000,
  'stock': 40}]

In [14]:
#Menaikkan harga semua produk di kategori "Books" sebesar 10%
db.products.update_many(
    {'category': 'Books'},              
    {'$mul': {'price': 1.10}}             
)

UpdateResult({'n': 8, 'nModified': 8, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [15]:
#Mengecek hasil update
print("Data setelah diupdate:")
for product in db.products.find({'category': 'Books'}):
    print(product)

Data setelah diupdate:
{'_id': ObjectId('6906d5391c44150fbfa27938'), 'name': 'Omniscient Reader’s Viewpoint', 'category': 'Books', 'price': 175692.0, 'stock': 30}
{'_id': ObjectId('6906d5391c44150fbfa27939'), 'name': 'Solo Leveling', 'category': 'Books', 'price': 161051.0000000001, 'stock': 25}
{'_id': ObjectId('690895431e412f277b0fdd77'), 'name': 'Omniscient Reader’s Viewpoint', 'category': 'Books', 'price': 159720.0, 'stock': 30}
{'_id': ObjectId('690895431e412f277b0fdd78'), 'name': 'Solo Leveling', 'category': 'Books', 'price': 146410.00000000006, 'stock': 25}
{'_id': ObjectId('690895b3e29cb01bac8b501a'), 'name': 'Omniscient Reader’s Viewpoint', 'category': 'Books', 'price': 145200.0, 'stock': 30}
{'_id': ObjectId('690895b3e29cb01bac8b501b'), 'name': 'Solo Leveling', 'category': 'Books', 'price': 133100.00000000003, 'stock': 25}
{'_id': ObjectId('690895e0ddc85700c84fd02c'), 'name': 'Omniscient Reader’s Viewpoint', 'category': 'Books', 'price': 132000.0, 'stock': 30}
{'_id': ObjectId('690895e0ddc85700c84fd02d'), 'name': 'Solo Leveling', 'category': 'Books', 'price': 121000.00000000001, 'stock': 25}

In [16]:
#Tugas 1
pipeline_top_salary = [
    {'$sort': {'department': 1, 'salary': -1}},
    {'$group': {
        '_id': '$department',
        'top5_employees': {'$push': {'name': '$name', 'salary': '$salary'}}
    }},
    {'$project': {'top5_employees': {'$slice': ['$top5_employees', 5]}}}
]

print("5 karyawan dengan gaji tertinggi dalam setiap departemen:")
for result in db.employees.aggregate(pipeline_top_salary):
    print(result)

5 karyawan dengan gaji tertinggi dalam setiap departemen:
{'_id': 'Finance', 'top5_employees': [{'name': 'Alice', 'salary': 4500}]}
{'_id': 'Legal', 'top5_employees': [{'name': 'Jung Heewon', 'salary': 5700}]}
{'_id': 'Human Resources', 'top5_employees': [{'name': 'Lee Hyunsung', 'salary': 6200}]}
{'_id': 'Business Analysis', 'top5_employees': [{'name': 'Kim Dokja', 'salary': 8500}]}
{'_id': 'Software Engineering', 'top5_employees': [{'name': 'Yoo Joonghyuk', 'salary': 7500}]}

In [17]:
#Tugas 2
print("Menghapus karyawan yang berusia di bawah 25 tahun:")
delete_under25 = db.employees.delete_many({'age': {'$lt': 25}})
print(f"{delete_under25.deleted_count} data karyawan dihapus karena berusia di bawah 25 tahun.")

Menghapus karyawan yang berusia di bawah 25 tahun:
0 data karyawan dihapus karena berusia di bawah 25 tahun.

In [18]:
#Tugas 3
print("Total gaji karyawan di setiap departemen dan rata-rata umur karyawan:")
pipeline_salary_age = [
    {'$group': {
        '_id': '$department',
        'total_salary': {'$sum': '$salary'},
        'average_age': {'$avg': '$age'}
    }},
    {'$sort': {'_id': 1}}
]

for result in db.employees.aggregate(pipeline_salary_age):
    print(result)

Total gaji karyawan di setiap departemen dan rata-rata umur karyawan:
{'_id': 'Business Analysis', 'total_salary': 8500, 'average_age': 28.0}
{'_id': 'Finance', 'total_salary': 4500, 'average_age': 29.0}
{'_id': 'Human Resources', 'total_salary': 6200, 'average_age': 30.0}
{'_id': 'Legal', 'total_salary': 5700, 'average_age': 26.0}
{'_id': 'Software Engineering', 'total_salary': 7500, 'average_age': 32.0}

In [19]:
#Latihan Tambahan
print("Menampilkan karyawan dengan gaji di atas rata-rata:")
avg_salary = list(db.employees.aggregate([
    {'$group': {'_id': None, 'avg_salary': {'$avg': '$salary'}}}
]))[0]['avg_salary']

for emp in db.employees.find({'salary': {'$gt': avg_salary}}):
    print(emp)

Menampilkan karyawan dengan gaji di atas rata-rata:
{'_id': ObjectId('690895e0ddc85700c84fd01d'), 'name': 'Kim Dokja', 'department': 'Business Analysis', 'age': 28, 'salary': 8500}
{'_id': ObjectId('690895e0ddc85700c84fd01e'), 'name': 'Yoo Joonghyuk', 'department': 'Software Engineering', 'age': 32, 'salary': 7500}

In [20]:
print("Mengurutkan semua karyawan dari gaji tertinggi:")
for emp in db.employees.find().sort('salary', -1):
    print(emp)

Mengurutkan semua karyawan dari gaji tertinggi:
{'_id': ObjectId('690895e0ddc85700c84fd01d'), 'name': 'Kim Dokja', 'department': 'Business Analysis', 'age': 28, 'salary': 8500}
{'_id': ObjectId('690895e0ddc85700c84fd01e'), 'name': 'Yoo Joonghyuk', 'department': 'Software Engineering', 'age': 32, 'salary': 7500}
{'_id': ObjectId('690895e0ddc85700c84fd020'), 'name': 'Lee Hyunsung', 'department': 'Human Resources', 'age': 30, 'salary': 6200}
{'_id': ObjectId('690895e0ddc85700c84fd021'), 'name': 'Jung Heewon', 'department': 'Legal', 'age': 26, 'salary': 5700}
{'_id': ObjectId('690895e0ddc85700c84fd01c'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4500}